<div class='row'>

    <% @meals.each do |meal|%>
    <div class="col-xs-4">
        <div class="card" style="width: 18rem;">
            <% if meal.available == true %>
            <% if meal.image.attached? %>
            <%= image_tag meal.image , size:'350' , class:'card-img-top' %>
            <% else %>
            <img class="card-img-top" src="asdasda" alt="Refeição">
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= meal.name %></h5>
                <p class="card-text"><%= meal.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= meal.price %></li>
            </ul>

            <div class="card-body">
                <%if  user_signed_in? %>
                <%    @ordermeal = OrderMeal.find_by(order_id: @order.id, meal_id: meal.id) %>
                <%= form_for @ordermeal do |f| %>
                <%= f.select :quantity, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8]], {}, {class: "form-control"} %>
                <%= f.hidden_field @meal_id, value: meal.id %>
                <%= f.hidden_field @order_id, value: @order.id %>

                <%= f.submit "Adicionar", class: "btn btn-sm btn-success " %>
                <% end %>
                <% end%>
            </div>
            <% else %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>
