<div class="navbar navbar-dark bg-dark">
<%-#       <% if current_page?(orders_path) %>
<%-#        <%= link_to "Pedidos", orders_path, class: "navbar-link selected" %>
<%-#      <% else %>
<%-#        <%= link_to "Pedidos", orders_path, class: "navbar-link" %>
<%-#      <% end %>

  <% if current_page?(user_session_path)%>
    <%= link_to "Usuários", user_session_path, class: "nav-item active" %>
  <% else %>
    <%= link_to "Usuários", user_session_path, class: "navbar-link" %>
  <% end %>

  <% if current_page?(meals_path) %>
    <%= link_to "Refeições", meals_path, class: "nav-item active" %>
  <% else %>
    <%= link_to "Refeições", meals_path, class: "navbar-link" %>
  <% end %>

  <% if current_page?(categories_path) %>
    <%= link_to "Categorias de Refeição", categories_path, class: "nav-item active" %>
  <% else %>
    <%= link_to "Categorias de Refeição", categories_path, class: "navbar-link" %>
  <% end %>
</div>
