    <p class="navbar-text pull-right">
        <% if user_signed_in? %>
        dinnerdash
        Logged in as <strong><%= current_user.email %></strong>.
        <strong><%= current_user.name %></strong>.
        <%= link_to 'Perfil', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

        <% else %>
        dinnerdash
        <%= link_to "Criar conta", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Logar", new_user_session_path, :class => 'navbar-link'  %>
        
        <% end %>
    </p>
