<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-sm-8 offset-2">


        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>Price</th>
                    <th>User</th>
                    <th>Situation</th>
                    <th colspan="3">Ações</th>
                </tr>
            </thead>

            <tbody>
                <% @orders.each do |order| %>
                <tr>
                    <td><%= order.price %></td>
                    <td><%= order.user %></td>
                    <td><%= order.situation_id %></td>
                    <td><%= link_to 'Show', order ,class: "btn btn-secondary"%></td>
                    <td><%= link_to 'Edit', edit_order_path(order),class: "btn btn-warning"  %></td>
                    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Nani?' }, class:"btn btn-warning" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <br>

        <%= link_to 'New Order', new_order_path ,class: "btn btn-success"%>
        <br>
        <br>
        </div>


        </div>
        <br>
        <br>
        <br>
        <br>
