<div class="col-10 offset-1">

    <%= form_with(model: meal, local: true) do |form| %>
    <% if meal.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(meal.errors.count, "error") %>
            prohibited this meal from being saved:</h2>

            <ul>
                <% meal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
    <div class="col-10 offset-1">

        <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name,class: "form-control" %>
        </div>
        <div class="form-group">
            <%= form.label :price %>
            <%= form.number_field :price,class: "form-control" %>
        </div>

    </div>
    <div class="col-10 offset-1">

        <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description,class: "form-control" %>
        </div>

    </div>

    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>
    
    </div>

    <div class="col-1 offset-1">

        <div class="form-check">
            <%= form.label :available %>
            <%= form.check_box :available,class: "form-control" %>
        </div>
    </div>
    <div class="col-3 ">

        <div class="form-group">
            <%= form.label :image %>
            <%= form.file_field :image,class: "form-control-file" %>
        </div>
    </div>

    <div class="col-1 ">
        <br>
        <%= form.submit 'Prosseguir', class: "btn btn-success" %>

        <% end %>

    </div>
</div>