<div class="col-10 offset-1">

    <%= form_with(model: meal, local: true) do |form| %>
    <% if meal.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(meal.errors.count, "error") %>
            prohibited this meal from being saved:</h2>

            <ul>
                <% meal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
    <div class="col-10 offset-1">

        <div class="form-group">
            <%= form.label :name, "Nome" %>
            <%= form.text_field :name,class: "form-control" %>
        </div>
        <div class="form-group">
            <%= form.label :price, "Preço" %>
            <%= form.number_field :price,class: "form-control" %>
        </div>

    </div>
    <div class="col-10 offset-1">

        <div class="form-group">
            <%= form.label :description, "Descrição" %>
            <%= form.text_area :description,class: "form-control" %>
        </div>

    </div>

    <div class="col-3 offset-1">
        <div class="form-group">
            <%= form.label :category_id, "Categoria" %>
            <%= form.collection_select(:category_id, Category.all, :id, :name, {prompt: true},{id: "product_selection", class: "form-control", 'aria-labelledby'=> "dropdownMenu1"}) %>
        </div>
    </div>

    <div class="col-3">

        <div class="form-check">
            <%= form.label :available, "Prato disponível no Menu?" %>
            <%= form.check_box :available,class: "form-control" %>
        </div>
    </div>
    <div class="col-3 ">

        <div class="form-group">
            <%= form.label :image, "Foto"%>
            <%= form.file_field :image,class: "form-control-file" %>
        </div>
    </div>

    <div class="col-1">
        <br>
        <%= form.submit 'Prosseguir', class: "btn btn-success" %>

        <% end %>

    </div>
</div>