<div class="row">

    <div class="col-10 offset-2">
        <h3>Editar categoria</h3>
    </div>
    <div class="col-5 offset-2">

        <%= form_for @category do |f| %>


        <p >
            <%= f.label :nome, class: "form-label" %><br>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </p>


        <p >
            <%= f.submit "Atualizar Categoria", class: "btn btn-success"%>
            <%= link_to 'Voltar', categories_path, class: "btn btn-secondary" %>
        </p>
        <% end %>
    </div>

</div>
