<h2><strong>dinnerdash</strong></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>  
  
  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirme sua senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "cadastrar" %>
  </div>
<% end %>
<br>
<h2>Já possui conta?</h2>
<%= render "users/shared/links" %>
